/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
* @Edited by Ahsan Zahid Chowdhury <itszahid.info>
* 2015-06-25
*/

/* buttons */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	margin: 0 0 14px;
	padding: 7px 13px;
	border: none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #ff5452;
	color: #fff!important;
	font-size: 13px;
	line-height: 21px;
	text-shadow: -1px 0 0 rgba(0,0,0,0.2);
	-webkit-transition: background .1s;
	-moz-transition: background .1s;
	-o-transition: background .1s;
	transition: background .1s;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	border: none;
	background: #f2504e;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	border: none;
	background: #f2504e;
}


/* portfolio filters */

.exPortfolio .filters {
	float: right;
	margin: -35px 20px 20px 0; 
}

.exPortfolio .filters a {
	display: inline-block;
	margin-left: 20px;
	padding: 3px 2px;
	color: #999;
	text-decoration: none;
}

.exPortfolio .filters a:hover {
	color: #666;
}

.exPortfolio .filters a.filter-active {
	color: #666;
	border-bottom: 1px solid #47dfff;
}

/* portfolio list */

.exPortfolio .list {
	clear: both;
}

.exPortfolio .list li {
	float: left;
	margin: 0 20px 10px 0;
}

.exPortfolio .list .thumb {
	position: relative;
	width: 215px;
	height: 134px;
	margin-bottom: 14px;
	overflow: hidden;
}

.exPortfolio .list .thumb img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.exPortfolio .list .view {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	background: rgba(255,255,255,0.8);
	border: 1px solid #fff;
	text-align: center;
	line-height: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.3s, visibility 0s linear .3s;
	-moz-transition: opacity 0.3s, visibility 0s linear .3s;
	-o-transition: opacity 0.3s, visibility 0s linear .3s;
	transition: opacity 0.3s, visibility 0s linear .3s;
	-webkit-transform: translate3d(0,0,0);
}

.exPortfolio .list .thumb:hover .view {
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
}

.exPortfolio .list .view .button { 
	position: relative;
	top: 50%;
	margin-top: -17px;
}

.exPortfolio .list h4 {
	text-align: center;	
}

.exPortfolio .list h4 a {
	text-decoration: none;
}

.exPortfolio .colio-active-item h4 a {
	background: #ccc;
	padding: 2px 10px;
}

.exPortfolio .list p {
	text-align: center;
	font-size: 12px;
	line-height: 1.3em;
}


/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.colio { margin-right: 24px!important; }
		.exPortfolio .list .thumb { width: 228px; height: 143px; }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		h1, h2, h3, h4, h5, h6 { text-align: center; }		
		.exPortfolio .filters { float: left; margin-top: 0; text-align: center; width: 100%; }
		.exPortfolio .filters a { margin: 0 10px; }
		.exPortfolio .list li { float: none; margin-right: 0; }
		.colio { margin-right: 0!important; }
		.exPortfolio .list .thumb { width: 420px; height: 260px; }
		footer { text-align: center; margin-bottom: 14px!important; }
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.exPortfolio .list .thumb { width: 300px; height: 187px; }
	}
